# Python
__pycache__/
*.pyc
*.pyo
venv/
.venv/
*.egg-info/

# Node
node_modules/
dist/
build/

# Environment
.env
*.env.local

# Docker
.docker/

# IDE
.idea/
.vscode/
*.swp

# Temp projets clonés
/tmp/projet_*
